/* font */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');


/* ====================================== 
                Universal CSS
====================================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
}

button {
    cursor: pointer;
    transition: transform 0.2s ease;
}

/* ====================================== 
            Common CSS
====================================== */
/* Layout */
.container-wide {
    max-width: 90dvw;
    margin: 0 auto;
}

.container {
    max-width: 75dvw;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.gap-2 {
    gap: 0.5rem;
}

.gap-6 {
    gap: 1.5rem;
}

.gap-12 {
    gap: 3rem;
}

.justify-end {
    justify-content: end;
}

.justify-center {
    justify-content: center;
}


.justify-between {
    justify-content: space-between;
}

.items-center {
    align-items: center;
}

.pt-4 {
    padding-top: 1rem;
}

.py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.py-28 {
    padding: 7rem 0rem;
}

.my-6 {
    margin: 52px 0px;
}

.mt-4 {
    margin-top: 24px;
}

.mt-12 {
    margin-top: 48px;
}

.mb-4 {
    margin-bottom: 20px;
}

/* TYPOGRAPHY */
.text-sm {
    font-size: 0.875rem;
}

.text-base {
    font-size: 1rem;
}

.text-lg {
    font-size: 1.125rem;
}

.text-xl {
    font-size: 1.25rem;
}

.text-2xl {
    font-size: 1.5rem;
}

.text-3xl {
    font-size: 1.875rem;
}

.text-4xl {
    font-size: 2.25rem;
}

.text-7xl {
    font-size: 4.5rem;
}

.text-white {
    color: #ffffff;
}

.font-thin {
    font-weight: 200;
}

.font-normal {
    font-weight: 400;
}

.font-medium {
    font-weight: 500;
}

/* display */

.min-h-screen {
    min-height: 100vh;
}

.bg-cover {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* miscellaneous */
.btn-arrow {
    background-color: #ffffff;
    color: #000000;
    padding: 12px 24px;
    border-radius: 24px;
    border: none;
}

.btn-primary {
    border: 1px solid #ffffff;
    color: #ffffff;
    padding: 16px 24px;
    border-radius: 0.75rem;
}

.btn-secondary {
    border: 1px solid #ffffff;
    color: #ffffff;
    padding: 16px 24px;
    border-radius: 0.75rem;
    background-color: transparent;
}

button:active {
    transform: scale(0.95);
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.section-heading {
    font-size: 36px;
    font-weight: 500;
}

.section-container {
    max-width: 75dvw;
    margin: 0 auto;
    padding: 112px 0px;
}

/* ====================================== 
                CUSTOM CSS
====================================== */
/* HEADER SECTION */

/* NAVBAR */
header .navigation {
    border-bottom: 1px solid #eeefef52;
    position: relative;
    z-index: 20;
}

.navigation .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 95dvw;
    margin: 0 auto;
    padding: 16px;
}

.menu {
    display: none;
}

.navigation .navbar ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
}

.logo {
    color: white;
    font-size: 22px;
}

.logo h1 {
    font-weight: 400;
}

.navlinks {
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 32px;
}

.nav-btn {
    background: transparent;
    border: 1px solid white;
    padding: 12px 16px;
    border-radius: 12px;
    color: white;
}

/* banner */
.banner-container {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    background: rgba(0, 0, 0, 0.3);
    z-index: 5;
}

.slides {
    width: 100dvw;
    height: 100dvh;
    object-fit: cover;
    position: absolute;
    z-index: -10;
    transition: 1s;
}

.feature {
    display: flex;
    align-items: center;
    gap: 42px;
    padding: 0.25rem;
}

.banner-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 10;
    height: 90vh;
    color: white;
}

.price {
    font-size: 38px;
    font-weight: 400;
}

.banner-heading {
    margin: 0rem;
    padding: 1rem 0rem;
    font-size: 72px;
    font-weight: 400;
}

.btn-banner {
    padding: 16px 24px;
    color: #000000;
}

.main-banner-btn {
    border: 1px solid #ffffff;
    display: flex;
    align-items: center;
    gap: 8px;
    color: #ffffff;
    padding: 16px 24px;
    border-radius: 0.75rem;
    color: black;
}

.btn-container {
    width: 92dvw;
    position: absolute;
    display: flex;
    justify-content: space-between;
}

.slider-btn {
    top: 45vh;
    left: 50%;
    z-index: 10;
    transform: translateX(-50%);
}

/* Browse by Type Section */
.section-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.car-type {
    display: flex;
    gap: 24px;
    margin-top: 24px;
    justify-content: space-between;
}

.type-icon-bg {
    background-color: #FAFBFD;
    gap: 24px;
    padding: 20px 24px;
    border-radius: 50%;
    margin-bottom: 16px;
}

.category {
    height: 200px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #EDEDED;
    border-radius: 20px;
}

.view-btn {
    background-color: transparent;
    border: none;
}

/* Explore all vehicles section */
.section-bg {
    background-color: #FAFBFD;
    padding: 112px 0px;
}

.tab-border {
    border-bottom: 1px solid #EDEDED;
}

.active-tab {
    border-bottom: 2px solid #4663F2;
}

.car-card {
    border: 2px solid #EEEFEF;
    border-radius: 18px;
    width: auto;
    overflow: hidden;
}

.card-body {
    padding: 12px 24px 24px 24px;
}

.card-actions {
    border-top: 2px solid #EEEFEF;
    border-bottom: 2px solid #EEEFEF;
}

.fit {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.icon-width {
    width: 16px;
    padding: 8px 0px;
}

.details-btn {
    color: #4663F2;
}

.car-gallery {
    display: grid;
    gap: 24px;
    overflow: hidden;
    grid-template-columns: repeat(4, minmax(0, 1fr));
}

.card-badge {
    width: 100%;
    padding: 16px;
    position: absolute;
    top: 0;
}

.badge {
    background-color: #3E923A;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 30px;
}

.badge-blue {
    background-color: #4663F2;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 30px;
}

.bookmark {
    background-color: white;
    color: black;
    border: none;
    padding: 8px 12px;
    border-radius: 30px;
}

/* hero section */
.section-container .hero-img {
    width: 50%;
    height: 600px;
    border-radius: 24px;
    background-image: url('../assets/images/maserati.png');
}

.hero-container {
    display: flex;
    gap: 48px;
    justify-content: space-between;
    align-items: center;
}

.hero-content {
    width: 50%;
}

.hero-btn {
    padding: 16px 24px;
    border: none;
    color: white;
    background-color: #000000;
    margin-top: 24px;
    border-radius: 12px;
}

/* why chose us section */

.border {
    border: 2px solid #EEEFEF;
}

/* what out customers say section */
.testimonial-section-container {
    background-color: #FAFBFD;
}

.testimonial-section-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 48px;
}


.testimonial-section-container .section-container .singlecard {
    display: none;
}

.rating {
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
}

.verified {
    display: flex;
    height: 20px;
    justify-items: center;
    gap: 8px;
}

.testimonial-container {
    padding: 6px 0px;

}

.testimonial {
    background-color: white;
    padding: 28px;
    border-radius: 16px;
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.2);
}

.mb-3 {
    margin-bottom: 12px;
}

.testimonial-btn {
    width: 110%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
}

.btn-sm {
    padding: 8px 16px;
}

.slider-btn-container {
    top: 55%;
    width: 82dvw;
    left: 50%;
    z-index: 10;
    transform: translateX(-50%);
    z-index: 10;
}

/* team section */
.team-container {
    margin-bottom: 112px;
}

.team {
    width: 100%;
    height: 400px;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 16px;
}

.btn-outline {
    border: 2px solid #EEEFEF;
    padding: 16px 24px;
    border-radius: 12px;
    background: transparent;
    margin: 36px 24px 0px 0px;
}

/* second banner section */
.app-section-container {
    max-width: 95dvw;
    margin: 0 auto;
    margin-bottom: 112px;
}

.banner-2 {
    max-width: 90dvw;
    margin: 0 auto;
    padding: 112px 0;
    background-color: #EEF0FC;
    border-radius: 16px;
    min-height: 50dvh;
}

.banner-2-content {
    max-width: 75dvw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.hero-content .section-details {
    margin-top: 24px;
    font-size: 14px;
    font-weight: 200;
}

.fa-brands {
    border-right: 1px solid white;
    padding-right: 24px;
}

.store {
    text-align: left;
}

.mockup {
    width: 316px;
    bottom: -123px;
    right: 0px;
}

.store-btn-container {
    display: flex;
    gap: 24px;
    align-items: center;
}

.store-btn {
    display: flex;
    gap: 24px;
    justify-content: space-between;
    align-items: center;
}

/* premium brands section*/
.brand-logo {
    width: 150px;
    height: auto;
    padding: 24px;
}

.logo-container {
    width: 150px;
    height: 150px;
}

/* call to action section */

.cta-section {
    padding-top: 7rem;
}

.call-to-action {
    height: 65vh;
    background-image: url('../assets/images/call-to-action.jpg');
    background-color: #00000050;
    background-blend-mode: overlay;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}

.cta {
    padding: 18px 84px;
    border: 2px solid #EEEFEF;
    border-radius: 12px;
    background-color: transparent;
}

.cta-content {
    color: white;
    height: 100%;
}

/* footer section */
.mail-input {
    padding: 24px;
    width: 25dvw;
    border: 2px solid #EEEFEF;
    border-radius: 16px;
}

.btn-email {
    padding: 16px 28px;
    border: none;
    color: white;
    background-color: #000000;
    border-radius: 12px;
    position: absolute;
    right: 12px;
    top: 10px;
}

.newsletter {
    padding: 64px 0px;
    border-bottom: 2px solid #EEEFEF;
}

.footer-links {
    padding: 48px 0px;
}

.footer-links li {
    list-style: none;
    line-height: 40px;
    font-weight: 200;
}

.footer-links button {
    border: none;
    background-color: transparent;
}

.copyright {
    padding: 38px 0px;
    border-top: 2px solid #EEEFEF;
    font-weight: 200;
}













@media screen and (max-width: 576px) {
    html {
        margin: 0;
    }

    body {
        margin: 0 auto;
    }

    .section-heading {
        font-size: 24px;
    }

    .section-container {
        padding: 38px 0px;
        max-width: 92dvw;
    }

    /* navbar */

    .logo h1 {
        font-size: 32px;
        font-weight: 500;
    }

    .navigation .navbar {
        padding: 8px;
    }

    .navlinks {
        display: none;
    }

    .menu {
        display: inline;
        position: relative;
    }

    .menu-open {
        color: white;
        background: transparent;
        border: none;
        font-size: 24px;
    }

    .nav-btn {
        margin-top: 12px;
        padding: 4px;
        border-radius: 4px;
    }

    .menu .pop-up {
        position: absolute;
        width: 35dvw;
        right: 0;
        display: flex;
        flex-direction: column;
        padding: 16px;
        border-radius: 8px;
        border: 1px solid white;
        background: #eeefef1a;
        backdrop-filter: blur(10px);
        display: none;
    }

    .pop-up.show {
        display: block;
    }

    /* banner section */
    .container {
        max-width: 92dvw;
    }

    .price {
        font-size: 24px;
    }

    .banner-heading {
        font-size: 32px;
    }

    .btn-container {
        display: inline;
    }

    .slider-btn {
        top: 80vh;
    }

    /* Type section */
    .category {
        height: 180px;
        width: 180px;
    }

    .car-type {
        display: grid;
        margin-top: 24px;
        grid-template-columns: repeat(2, 1fr);
    }

    /* Vehicles section */
    .section-bg {
        padding: 38px 0px;
    }

    .car-gallery {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    /* hero section */
    .hero-container {
        flex-direction: column;
    }

    .hero-content {
        width: 100%;
    }

    .section-container .hero-img {
        width: 100%;
        height: 300px;
    }

    /* testimonial section */
    .testimonial-section-container .section-container .multicard {
        display: none;
    }

    .testimonial-section-container .section-container .singlecard {
        display: block;
        overflow: hidden;
        margin: 12px auto;
        width: 100%;
    }

    .testimonial-section-title {
        flex-direction: column;
        align-items: flex-start;
    }

    .slider-btn-container {
        display: none;
    }

    /* team section */
    .team-container {
        margin-bottom: 38px;
    }

    /* inspiration section */
    .inspiration-category {
        margin: 4px;
    }
}